html, body {
    min-height: 700px;
    width: 100%;
    height: calc(100vh + 200px);
    /* overflow: hidden; */
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    background: linear-gradient(45deg,  rgba(66, 183, 245,0.8) 0%,rgba(66, 245, 189,0.4) 100%);
}

input {
    font-family: 'Roboto' sans-serif;    
}

.hidden {
    display: none !important;
}

.simple-keyboard {
    
    width: 100%;
    font-family: 'Roboto' sans-serif;
    color: #4285f4;
    font-weight: 600;
    position: relative;
    
}

.keyboard-wrapper {
    z-index: 20;
    width: 600px;
    position: fixed;
    left: -5px;
    bottom: -20px;
    padding-left: 22%;
    
}

.form {
    z-index: 15;
    position: relative;
    background: #ffffff;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    box-sizing: border-box;
    margin: 25px auto 10px;
    overflow: hidden;
}

::placeholder {
    color: rgba(0,0,0,0.2);
    font-weight: 500;
}

::-ms-input-placeholder {
    color: rgba(0,0,0,0.2);
    font-weight: 500;
}

.form-panel { 
    padding: 10px calc(5% + 35px) 0px 20px;
    box-sizing: border-box;
}

.form-header {
    margin: 0 0 30px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}

.form-group label {
    margin: 0 0 10px;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.form-group input {
    outline: none;
    background: rgba(0,0,0,0.05);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0,0,0,0.8);
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    line-height: inherit;
}

.form-group button {
    outline: none;
    background: #4285f4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.form-group button.small {
    width: 50% !important;
}

.form-header h1 {
    padding: 4px 0;
    margin: 0;
    color: #4285f4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.form-panel.two {
    z-index: 5;
    position: absolute;
    top: 0;
    background: #4285f4;
    width: 100%;
    min-height: 100%;
    padding: 60px calc(10% + 60px) 60px 60px;
    margin-left: 570px;
}

.displaced {
    margin-bottom: 10px !important;
    margin-top: -100px !important;
}

.form-kitchen input {
    width: 20px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}

.form-kitchen {
    width: 100%;
}

.form-kitchen label {
    width: 100%;
    color: rgba(0,0,0,0.6);
    line-height: 1;

}